<div class="panel-heading">
    <h3 class="panel-title">     
   Regístrate
</h3>
</div>
<div class="panel-body">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary btn-block">Regístrarme</button>

      <hr>
      <%= render "devise/shared/links" %>
    </div>
  </div> 

<% end %>


</div>
