<%= form_for(@element, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @element.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@element.errors.count, "error") %> prohibited this element from being saved:</h4>

      <ul>
      <% @element.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :codigo, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :codigo, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :descripcion, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :descripcion, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :marca, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :marca, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :modelo, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :modelo, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :stock, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :stock, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
