<div class="row">
<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">&nbsp;</h3>
        <div class="actions pull-right">
            <%= link_to elements_path, class: 'btn btn-default btn-sm' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Atras
          <% end %>

            <%= link_to @element, class: 'btn btn-primary btn-sm' do %>
		    <span class="glyphicon glyphicon-info-sign"></span>
		    Ver
		  <% end %>
        </div>
      </div>


      <div class="panel-body">
      	<%= render 'form' %>
      </div>
  </div>
</div>

