
<div class="row">
<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">&nbsp;</h3>
        <div class="actions pull-right">
            <%= link_to new_element_path, class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-plus"></span>
            Agregar
          <% end %>
        </div>
      </div>


      <div class="panel-body">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
                  <th>Codigo</th>
                  <th>Descripcion</th>
                  <th>Marca</th>
                  <th>Modelo</th>
                  <th>Stock</th>
                  <th>#</th>
                  <th></th>
                  <th></th>
            </tr>
          </thead>

          <tbody>
            <%= content_tag_for(:tr, @elements) do |element| %>
                  <td><%= element.codigo %></td>
                  <td><%= element.descripcion %></td>
                  <td><%= element.marca %></td>
                  <td><%= element.modelo %></td>
                  <td><%= element.stock %></td>
                  <td><%= link_to '', element,:class => "glyphicon glyphicon-eye-open" %></td>
              <td><%= link_to '', edit_element_path(element),:class => "glyphicon glyphicon-pencil" %></td>
              <td><%= link_to '', element, method: :delete, data: { confirm: 'Estas seguro?' },:class => "glyphicon glyphicon-remove" %></td>
            <% end %>
          </tbody>
        </table>
        <%=will_paginate @elements %>
      </div>
    </div>
  </div>
</div>
