<div class="row">
<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">&nbsp;</h3>
        <div class="actions pull-right">
            <%= link_to elements_path, class: 'btn btn-default btn-sm' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Atras
          <% end %>

            <%= link_to edit_element_path(@element), class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-pencil"></span>
            Editar
          <% end %>
        </div>
      </div>


      <div class="panel-body">
        <dl class="dl-horizontal">
        <dt>Codigo:</dt>
        <dd><%= @element.codigo %></dd>

        <dt>Descripcion:</dt>
        <dd><%= @element.descripcion %></dd>

        <dt>Marca:</dt>
        <dd><%= @element.marca %></dd>

        <dt>Modelo:</dt>
        <dd><%= @element.modelo %></dd>

        <dt>Stock:</dt>
        <dd><%= @element.stock %></dd>

      </dl>
      </div>
  </div>
</div>





<!-- <div class="page-header">
  <%= link_to elements_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_element_path(@element), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show element</h1>
</div>

<dl class="dl-horizontal">
  <dt>Codigo:</dt>
  <dd><%= @element.codigo %></dd>

  <dt>Descripcion:</dt>
  <dd><%= @element.descripcion %></dd>

  <dt>Marca:</dt>
  <dd><%= @element.marca %></dd>

  <dt>Modelo:</dt>
  <dd><%= @element.modelo %></dd>

  <dt>Stock:</dt>
  <dd><%= @element.stock %></dd>

</dl> -->
