
<div class="row">
<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <form role="form" class="form-inline" method="GET">
          
          <div class="form-group">
          <label for="exampleInputPassword2" style="padding-top: 0.5em;" class="col-sm-6">Codigo elemento:</label>
          <div class="col-sm-4">
          <input type="text" name="codigo" placeholder="codigo"  class="form-control" >
          </div>
          </div>
          <button class="btn btn-white" style="margin-top: 0.5em;" type="submit">Buscar</button>

        </form>
      </div>

      <div class="panel-body">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
                  <th>Codigo</th>
                  <th>Descripcion</th>
                  <th>Marca</th>
                  <th>Modelo</th>
                  <th>Stock</th>
            </tr>
          </thead>

          <tbody>
            <%= content_tag_for(:tr, @elements) do |element| %>
                  <td><%= element.codigo %></td>
                  <td><%= element.descripcion %></td>
                  <td><%= element.marca %></td>
                  <td><%= element.modelo %></td>
                  <td><%= element.stock %></td>
                  
            <% end %>
          </tbody>
        </table>
        <%=will_paginate @elements %>
      </div>
    </div>
  </div>
</div>
