<%= form_tag :action=>'respond' do %>
  <p>
    <label>Nombre:<br/>
      <%= text_field :ceneri, :nombre %> 
    </label>
  </p>
  <p>
    <label>Edad:<br/>
      <%= text_field :ceneri, :edad %> 
    </label>
  </p>
  <p>
    <label>Email:<br/>
      <%= text_field :ceneri, :email %> 
    </label>
  </p>
  <p><%= submit_tag 'Submit' %> </p>
<% end  %>