<%= form_for(@composition, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @composition.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@composition.errors.count, "error") %> prohibited this composition from being saved:</h4>

      <ul>
      <% @composition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :cantidad, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :cantidad, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :kit, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :kit_id, Kit.all, :id, :codigo , {}, {:class=> 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :element, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :element_id, Element.all, :id ,:codigo,{}, {:class=> 'form-control'}  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
