<div class="row">
<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">&nbsp;</h3>
        <div class="actions pull-right">
            <%= link_to new_composition_path, class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-plus"></span>
            Nuevo
          <% end %>
        </div>
      </div>


      <div class="panel-body">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
                  <th>Cantidad</th>
                  <th>Kit</th>
                  <th>Element</th>
                  <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%= content_tag_for(:tr, @compositions) do |composition| %>
                  <td><%= composition.cantidad %></td>
                  <td><%= composition.kit.codigo %></td>
                  <td><%= composition.element.codigo %></td>
                  <td><%= link_to '', composition ,:class => "glyphicon glyphicon-eye-open"%></td>
              <td><%= link_to '', edit_composition_path(composition),:class => "glyphicon glyphicon-pencil" %></td>
              <td><%= link_to '', composition, method: :delete, data: { confirm: 'Estas seguro?' },:class => "glyphicon glyphicon-remove" %></td>
            <% end %>
          </tbody>
        </table>
        <%=will_paginate @compositions %>
      </div>
    </div>
  </div>
</div>
