<div class="page-header">
  <%= link_to compositions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_composition_path(@composition), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show composition</h1>
</div>

<dl class="dl-horizontal">
  <dt>Cantidad:</dt>
  <dd><%= @composition.cantidad %></dd>

  <dt>Kit:</dt>
  <dd><%= @composition.kit.codigo %></dd>

  <dt>Element:</dt>
  <dd><%= @composition.element.codigo %></dd>

</dl>
