<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Despiece de Kits</h3>
        <div class="actions pull-right">
          <i class="fa fa-chevron-down"></i>
          <i class="fa fa-times"></i>
        </div>
      </div>
      <div class="panel-body"></div>
      <div id="form-container">
        <components class="form-horizontal" role="form">
          <fieldset>
            <div class="tab-content">
              <!-- Tabs of snippets go here -->
              <div class="tab-pane active" id="input"></div>
              <%= form_tag("/kits/despiece", method: "post") do %>
                <div class="component">
                  <!-- Text input -->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Código de elemento :</label>
                    <div class="col-md-6">
                      <select name="element[id]" class="form-control">
                        <% Element.all.each do |element| %>
                        <% if @element_id == element.id %>
                          <option value=<%= element.id%> selected> <%= element.codigo%></option>
                        <% end %>
                        <option value=<%= element.id%>> <%= element.codigo%></option>
                        <% end %>
                      </select>
                     
                      
                    </div>
                  </div>
                </div>
                <div class="component">
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Cantidad :</label>
                    <div class="col-md-6">
                      <%= number_field(:element, :stock, :value => @var_count,class: 'form-control' ) %>
                     
                    </div>
                  </div>
                </div>
                <div class="component">                            
                  <div class="col-md-4"></div>
                  <button class="btn btn-info btn-trans" type="submit">Evaluar</button>
                </div>
                
              
              <% end %>
             
            </div>
          </fieldset>
        </components>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" id="despiece_columna_respuesta" style="display: <%= @view_block_first; %>;">
    <div class="panel panel-solid-<%= @color; %>" id="panel_comentario_respuesta">
      <div class="panel-heading">
        <h3 class="panel-title">Respuesta</h3>
      </div>
      <div class="panel-body">
        <p>
          <strong><%= @message; %></strong>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-12" id="despiece_columna_detalle" style="display: <%= @view_block_second; %>">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">Elementos faltantes</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <p>
                        <strong><%= @message; %></strong>
                      </p>
                      <table cellspacing="0" class="table table-striped table-bordered" width="100%">
                        <thead>
                          <tr>
                            <th>Kits</th>
                            <th>Cantidad</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if @kits %>
                            <% @kits.each do |kit| %>
                              <tr>
                                <td><%= kit[0]%></td>
                                <td><%= kit[1]%></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-md-12">
                      <div id="form-container">
                        <components class="form-horizontal" role="form">
                          <fieldset>
                            <div class="tab-content">
                              <!-- Tabs of snippets go here -->
                              <div class="tab-pane active" id="input"></div>
                              
                              <!-- <form action="/kits/send_mail" method="POST"> -->
                              <%= form_tag("/kits/despiece_save", method: "post") do %>
                                <%= hidden_field_tag(:kits, @kits) %>
                                <!-- <input type="hidden" name="kit[array]" value="<%= @kits; %>" /> -->
                                <div class="component">
                                  <div class="form-group"></div>
                                  <div class="col-md-6"></div>
                                  <label>Deseas despiezar estos Kits?</label>
                                  <button class="btn btn-success" type="submit">Aceptar</button>
                                  <a class="btn btn-danger" href="/kits/despiece/">Cancelar</a>
                                </div>
                                <% end %>
                              <!-- </form> -->
                            </div>
                          </fieldset>
                        </components>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

</div>