<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Despiece de Kits</h3>
        <div class="actions pull-right">
          <i class="fa fa-chevron-down"></i>
          <i class="fa fa-times"></i>
        </div>
      </div>
      <div class="panel-body"></div>
      <div id="form-container">
        <components class="form-horizontal" role="form">
          <fieldset>
            <div class="tab-content">
              <!-- Tabs of snippets go here -->
              <div class="tab-pane active" id="input"></div>
              <%= form_tag do %>
                <div class="component">
                  <!-- Text input -->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Código de kit :</label>
                    <div class="col-md-6">

                      <select name="kit[id]" class="form-control">
                        <% Kit.all.each do |kit| %>
                        <% if @kit_id == kit.id %>
                          <option value=<%= kit.id%> selected> <%= kit.codigo%></option>
                        <% end %>
                        <option value=<%= kit.id%>> <%= kit.codigo%></option>
                        <% end %>
                      </select>
                      
                    </div>
                  </div>
                </div>
                <div class="component">
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Cantidad :</label>
                    <div class="col-md-6">
                      <%= number_field(:kit, :cantidad, :value => @var_count, class: 'form-control') %>
                     
                    </div>
                  </div>
                </div>
                <div class="component">                            
                  <div class="col-md-4"></div>
                  <button class="btn btn-info btn-trans" type="submit">Evaluar</button>
                </div>
                
              
              <% end %>
             
            </div>
          </fieldset>
        </components>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-<%= @size; %>" id="columna_respuesta" style="display: <%= @view_block_first; %>;">
    <div class="panel panel-solid-<%= @color; %>" id="panel_comentario_respuesta">
      <div class="panel-heading">
        <h3 class="panel-title">Respuesta</h3>
      </div>
      <div class="panel-body">
        <p>
          <strong><%= @message; %></strong>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-<%= @size; %>" id="columna_detalle" style="display: <%= @view_block_second; %>;">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Elementos faltantes</h3>
      </div>
      <div class="panel-body">
        <table cellspacing="0" class="table table-striped table-bordered dataTable no-footer" id="example" width="100%" aria-describedby="example_info" style="width: 100%;">
          <thead>
            <tr role="row">
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Elementos faltantes</th>
          </tr>
          </thead>
          <tbody>
            <% if @elements %>
              <% @elements.each do |element| %>
                <tr>
                  <td><%= element[0].codigo %></td>
                  <td><%= element[0].descripcion %></td>
                  <td><%= element[1] %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</div>