<div class="row">
<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">&nbsp;</h3>
        <div class="actions pull-right">
            <%= link_to new_kit_path, class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-plus"></span>
            Agregar
          <% end %>
        </div>
      </div>



      <div class="panel-body">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
                  <th>Codigo</th>
                  <th>Kit</th>
                  <th>Marca</th>
                  <th>Stock</th>
                  <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%= content_tag_for(:tr, @kits) do |kit| %>
                  <td><%= kit.codigo %></td>
                  <td><%= kit.kit %></td>
                  <td><%= kit.marca %></td>
                  <td><%= kit.stock %></td>
                  <td><%= link_to '', kit,:class => "glyphicon glyphicon-eye-open" %></td>
              <td><%= link_to '', edit_kit_path(kit),:class => "glyphicon glyphicon-pencil" %></td>
              <td><%= link_to '', kit, method: :delete, data: { confirm: 'Estas seguro?' },:class => "glyphicon glyphicon-remove" %></td>
            <% end %>
          </tbody>
        </table>
        <%=will_paginate @kits %>
      </div>
    </div>
  </div>
</div>
