<div class="row">
<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">&nbsp;</h3>
        <div class="actions pull-right">
            <%= link_to kits_path, class: 'btn btn-default btn-sm' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Atras
          <% end %>

            <%= link_to edit_kit_path(@kit), class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-pencil"></span>
            Editar
          <% end %>
        </div>
      </div>


      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Codigo:</dt>
          <dd><%= @kit.codigo %></dd>

          <dt>Kit:</dt>
          <dd><%= @kit.kit %></dd>

          <dt>Marca:</dt>
          <dd><%= @kit.marca %></dd>

          <dt>Stock:</dt>
          <dd><%= @kit.stock %></dd>

        </dl>
      </div>
  </div>
</div>



