
<div>
	<p>Se formaron <%= @cantidad_formada; %> del kit <strong><%= @kit; %></strong>, pero se necesitan los siguientes elementos para formar los <%= @cantidad; %> kits restantes.</p>
</div>


  <div class="col-md-12" id="despiece_columna_detalle" style="display: <%= @view_block_second; %>">
	  <div class="panel panel-info">
	    <div class="panel-heading">
	    </div>
	    <div class="panel-body">
	      <div class="row">
	        <div class="col-md-12">
	          <table cellspacing="0" class="table table-striped table-bordered" width="100%">
	            <thead>
	              <tr>
	                <th>Elemento</th>
	                <th>Descripcion</th>
	                <th>Cantidad</th>
	              </tr>
	            </thead>
	            <tbody>
		        <% if @elements %>
		          <% @elements.each do |element| %>
		            <tr>
		              <td><%= element[0].codigo %></td>
		              <td><%= element[0].descripcion %></td>
		              <td><%= element[1] %></td>
		            </tr>
		          <% end %>
		        <% end %>
		      </tbody>
	          </table>
	        </div>
	    </div>
	</div>
</div>
</div>
