
<div class="panel-heading">
    <h3 class="panel-title">     
   Iniciar sesión
</h3>
</div>
<div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal", role: "form" }) do |f| %>
      <label>Correo</label>
      <div class="form-group">
        <div class="col-md-12">
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
            <i class="fa fa-user"></i>
        </div>
        
      </div>

      <label>Contraseña</label>
      <div class="form-group">
        <div class="col-md-12">
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            <i class="fa fa-lock"></i>

        </div>
        
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <label>Recordarme</label>
        </div>
      <% end -%>

      <div class="form-group">
      <div class="col-md-12">
          <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
          <hr>
          <%= render "devise/shared/links" %>
      </div>
  </div>
      <% end %>


  
</div>


