<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="es">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CENERIS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="author" content="">
    <title>CENERIS</title>
   
    <%= stylesheet_link_tag 'application' , media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application','data-turbolinks-track' => true %>
    

  <%= csrf_meta_tags %>
</head>

<body>
    <section id="main-wrapper" class="theme-red-full">
        <header id="header">
            <!--logo start-->
            <div class="brand">
                <label  class="logo">
                    <i class="icon-layers"></i>
                    <span>CENE</span>RIS</label>
            </div>
            <ul class="nav navbar-nav navbar-right">
                 <% if user_signed_in? %>
                <li class="profile hidden-xs">                    
                    <a >
                        <span class="meta">
                            <span class="avatar">
                                <%= image_tag "profile.jpg", class:"img-circle", alt:"" %>
                            </span>
                        <span class="text"><%= current_user.email %></span>
                        </span>
                    </a>
                  </li>
                <li class="profile hidden-xs">
                    <a   data-method="delete" href="/users/sign_out">
                        <span class="meta">
                            <span class="text">Cerrar sesion</span>
                        </span></a>
                </li>
                  <% end %>
                
            </ul>
        </header>
        <!--sidebar left start-->
        <aside class="sidebar sidebar-left">
                <div class="sidebar-profile">
                <div class="avatar">
                   <%= image_tag "profile.jpg", class:"img-circle profile-image", alt:"profile"%>
                   <i class="on border-dark animated bounceIn"></i>
                </div>
                <div class="profile-body dropdown">
                    <% if user_signed_in? %>
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><h4><%= current_user.email %></h4></a>
                    <small class="title">Desarrollo Web</small>
                    <% end %>                    
                </div>
            </div>
            <nav>
                <h5 class="sidebar-header">MENÚ</h5>
                <ul class="nav nav-pills nav-stacked">

                    <% if @menu_elements%>
                    <li class="active">
                    <% else %>
                    <li>
                    <% end %>
                        <a href="/elements" title="ELEMENTOS">
                            <i class="glyphicon glyphicon-list"></i> ELEMENTOS

                        </a>
                    </li>
                    <% if @menu_kits %>
                    <li class="active">
                    <% else %>
                    <li>
                    <% end %>
                        <a href="/kits" title="KITS">
                            <i class="glyphicon glyphicon-th-large"></i> KITS
                        </a>                        
                    </li>
                    <% if @menu_despiece %>
                    <li class="active">
                    <% else %>
                    <li>
                    <% end %>
                        <a href="/kits/despiece" title="DESPIECE DE KITS">
                            <i class="glyphicon glyphicon-wrench"></i> DESPIECE DE KITS
                        </a>                        
                    </li>
                    <% if @menu_generar %>
                    <li class="active">
                    <% else %>
                    <li>
                    <% end %>
                        <a href="/kits/generar" title="GENERAR KIT">
                            <i class="glyphicon glyphicon-indent-right"></i> GENERAR KIT
                        </a>
                        
                    </li>
                    <% if @menu_elements_stock %>
                        <li class="active">
                        <% else %>
                        <li>
                    <% end %>
                        <a href="/elements/stock" title="STOCK DE ELEMENTOS">
                            <i class="glyphicon glyphicon-qrcode"></i>STOCK DE ELEMENTOS
                        </a>
                        
                    </li>
                    <!-- <li>
                         <a href="#" title="CREDITOS">
                            <i class="icon-user"></i> CRÉDITOS                            
                        </a>                        
                    </li> -->
                    
                </ul>
            </nav>           
        </aside>

        <section class="main-content-wrapper">
             <div class="pageheader">
                <h1><%= @index_text; %></h1>
                
            </div>
            <section id="main-content" class="animated fadeInUp">
                <!-- <p class="alert"><%= alert %></p>
                <p class="notice"><%= notice %> -->
                <% flash.each do |name, msg| %>
                  <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Salir</span></button>
                    <%= msg %>
                  <% end %>
                <% end %>
                <%= yield %>
              </section>
        </section>
    </section>
   
       
</body>

</html>

