<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="es" xml:lang="es">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CENERIS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="author" content="">
    <title>CENERIS</title>
   
    <%= stylesheet_link_tag 'application' , media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application','data-turbolinks-track' => true %>
    
    <%= javascript_include_tag 'app.min.js' %>

  <%= csrf_meta_tags %>
</head>

<body>
    <section class="container animated fadeInUp theme-red-full">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="login-wrapper">
                    <header>
                        <div class="brand">
                            <label  class="logo">
                                <i class="icon-layers"></i>
                                <span>CE</span>NERIS</label>
                        </div>
                    </header>
                    <div class="panel panel-primary">
                        <%= yield %>
                        
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--Global JS-->

</body>